.confirmDialogRoot {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 75vw;
    max-width: 350px;

    margin: 16px;
    padding: 28px 24px 16px;
    
    display: flex;
    flex-direction: column;
    gap: 16px;

    background-color: #181614;
    border: 1px solid #949692;
    border-radius: 4px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title {
    font-size: 20px;
}
.button {
    padding: 4px 8px;
    
    display: flex;
    align-items: center;
    
    border-radius: 4px;

    cursor: pointer;

    transition: color 300ms ease;

    user-select: none;

    -webkit-tap-highlight-color: #686b6533;
}
.closeButton {
    margin-right: -23px;
    margin-top: -48px;
    padding: 4px 6px;

    font-size: 24px;
}
.closeButtonText { 
    height: 24px;
    width: 20px;

    margin-top: -4px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.body {
    font-size: 16px;
    font-weight: 400;
}
.buttons {
    margin-left: auto;
    
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 24px;
}
.confirmButton {
    border: 1px solid #94969266;
}
.cancelButton {
}

@media (hover: hover) and (pointer: fine) {
    .button:hover {
        color: #aeb3a9;
    }
}
.button:active {
    color: #afb4a9;
    background-color: #686b6533;
}
