.listLabelRightRoot {
    height: 100%;

    padding-top: 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;

    font-family: fontin-sans-regular;
    font-size: 12px;
}
