@font-face {
    font-family: "fontin-sans-regular";
    src: url("/assets/fonts/fontin-sans-regular.woff2") format("woff2");
}

@font-face {
    font-family: "ravenswatch";
    src: url("/assets/fonts/ravenswatch.woff2") format("woff2");
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    height: 100%;
    min-width: 328px;
}

body {
    min-height: 100%;
    height: 100vh;

    margin: 0;

    padding-bottom: 28px;

    display: flex;
    flex-direction: column;

    background-color: #181614;

    color: #949692;
    font-family: fontin-sans-regular;
    font-size: 18px;
}

ul {
    margin: 0;
    padding: 0;
}

.container-label {
    display: flex;
    align-items: center;
    gap: 4px;
    
    font-family: ravenswatch;
    text-transform: uppercase;
}
.container-label input {
    cursor: pointer;

    max-width: 130px;
}


/* TODO consider css variables, investigate good practices for this */
@media (max-width: 1080px) {
    body {
        height: unset;
    }
}
@media (max-width: 380px) {
    .container-label input {
        max-width: 80px;
    }
}
