@font-face {
    font-family: "fontin-sans-regular";
    src: url("/assets/fonts/fontin-sans-regular.woff2") format("woff2");
}

@font-face {
    font-family: "ravenswatch";
    src: url("/assets/fonts/ravenswatch.woff2") format("woff2");
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding-bottom: 28px;

    background-color: #181614;

    color: #949692;
    font-family: fontin-sans-regular;
    font-size: 18px;
}

.container-label {
    display: flex;
    align-items: center;
    gap: 4px;
    
    font-family: ravenswatch;
    text-transform: uppercase;
}
.container-label input {
    cursor: pointer;
}


.talent-lists {
    padding: 0 16px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
}

h1 {
    margin-left: 2px;
}
