@font-face {
    font-family: "fontin-sans-regular";
    src: url("/assets/fonts/fontin-sans-regular.woff2") format("woff2");
}

@font-face {
    font-family: "ravenswatch";
    src: url("/assets/fonts/ravenswatch.woff2") format("woff2");
}

body {
    margin: 0;
    margin-bottom: 24px;

    background-color: #181614;

    color: #949692;
    font-family: fontin-sans-regular;
    font-size: 18px;
}

.container-label {
    display: flex;
    gap: 4px;
}

.talent-lists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.01fr 0.5fr;
    column-gap: 16px;
}

h1 {
    margin-left: 2px;
}

.main-list > li {
    cursor: pointer;
    border-radius: 4px;
    padding: 2px;

    display: flex;
    align-items: center;
    gap: 4px;
}
.main-list > li:not(:last-child) {
    margin-bottom: 10px;
}
.main-list > li:hover {
    border: 2px solid #857243;
}
.main-list > li:not(:hover) {
    border: 2px solid #85724300;
}
.main-list > li > div {
    pointer-events: none;
}

.name {
    font-family: ravenswatch;
    color: #9B9981;
    margin-bottom: 4px;
}

ul {
    margin: 0;
    padding: 0;
}
ul.main-list {
    list-style: none;
}
