@font-face {
    font-family: "fontin-sans-regular";
    src: url("/assets/fonts/fontin-sans-regular.woff2") format("woff2");
}

@font-face {
    font-family: "ravenswatch";
    src: url("/assets/fonts/ravenswatch.woff2") format("woff2");
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding-bottom: 28px;

    background-color: #181614;

    color: #949692;
    font-family: fontin-sans-regular;
    font-size: 18px;
}

.container-label {
    display: flex;
    align-items: center;
    gap: 4px;
    
    font-family: ravenswatch;
    text-transform: uppercase;
}
.container-label input {
    cursor: pointer;
}


.talent-lists {
    padding: 0 16px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.01fr 0.5fr;
    column-gap: 16px;
}
.three-columns {
    grid-template-columns: 1fr 1fr 1fr;
}

h1 {
    margin-left: 2px;
}

.main-list > li {
    cursor: pointer;
    border-radius: 4px;
    padding: 2px;

    display: flex;
    align-items: center;
    gap: 4px;
}
.main-list > li:not(:last-child) {
    margin-bottom: 10px;
}
.main-list > li:hover {
    border: 2px solid #857243;
}
.main-list > li:not(:hover) {
    border: 2px solid transparent;
}

ul {
    margin: 0;
    padding: 0;
}
ul.main-list {
    list-style: none;
}
