.helpPageRoot {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.textContainer {
    min-width: 200px;
    width: 100%;
    max-width: 400px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    vertical-align: middle;
}
