.helpPageRoot {
    flex: 1;

    padding: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.textContainer {
    min-width: 200px;
    width: 100%;
    max-width: 400px;

    text-align: center;
}

.textContainer h3 {
    margin-top: 24px;
    margin-bottom: 10px;
}

.url {
    color: #EDE2B9D6;
}

.rights {
    margin-top: 70px;

    font-size: 14px;
}
