.helpPageRoot {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rights {
    position: sticky;
    top: 56px;
    z-index: 2;

    padding: 2px 8px;

    background-color: #181614;

    font-size: 14px;
    text-align: center;
}
.rightsStuck {
    padding-top: 4px;
    padding-bottom: 4px;
    box-shadow: 4px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.textContainer {
    flex: 1;
    padding: 24px 16px;

    min-width: 200px;
    width: 100%;
    max-width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.textContainer h3 {
    margin-top: 24px;
    margin-bottom: 10px;
}

.i {
    color: #ede2b9b1;
}

.url {
    color: #EDE2B9D6;
}
