.navigationRoot {
    padding: 2px 2px;

    display: flex;
    align-items: center;
    gap: 16px;

    font-family: ravenswatch;
}

@media (max-width: 1080px) {
    .navigationRoot {
        gap: 10px;
    }
}

.navigationItem {
    cursor: pointer;
    
    color: inherit;
    text-decoration: none;
}

.navigationItem:hover {
    color: #964e4e;
}

.navigationItemActive {
    color: #a85a5a;
}
