.navigationRoot {
    padding: 2px 2px;

    display: flex;
    align-items: center;
    gap: 16px;

    font-family: ravenswatch;
}

.navigationItem {
    cursor: pointer;
    
    color: inherit;
    text-decoration: none;
    text-align: center;
}

.navigationItem:hover {
    color: #964e4e;
}

.navigationItemActive {
    color: #a85a5a;
}

@media (max-width: 430px) {
    .navigationItem {
        width: min-content;
    }
}
