.root {
    display: flex;
    align-items: center;
}

.iconContainer {
    min-width: fit-content;
    max-width: 25%;
}

.name {
    margin-bottom: 4px;

    font-family: ravenswatch;
    color: #9B9981;
}
