.root {
    display: flex;
    align-items: center;
    gap: 4px;
}

.iconContainer {
    min-width: fit-content;
    max-width: 25%;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.header {
    display: flex;
    align-items: center;
    gap: 6px;
}

.name {
    font-family: ravenswatch;
    letter-spacing: 0.02rem;
    color: #9B9981;
}
