.locked {
    width: 89px;
    height: auto;

    padding-left: 5px;
}

.unlockedRoot {
    position: relative;

    min-width: 90px;
    min-height: 90px;
    
    transform: rotate(-1deg);

    opacity: 0.9;
    filter: brightness(0.9) contrast(0.9);
}

.talent {
    position: absolute;
    top: 20%;
    left: 20%;

    width: 60%;
    height: auto;
}

.frame {
    position: absolute;
    width: 100%;
    height: auto;
}
