.root {
    padding: 12px 0 0;
}

.listRoot {
    height: 100%;
}
.listLabel {
    padding: 4px 20px;
}
.listContent {
    padding: 0 16px;
}

@media (hover: hover) and (pointer: fine) {
    .interactiveListItem:hover {
        border: 2px solid #b89b45;
    }
}

@media (min-width: 1080px) {
    .listRoot {
        overflow-y: hidden;
    }
    .listLabel {
        position: unset;
    }
}
