.root {
    position: relative;

    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.labelContainer {
    position: absolute;
    top: 0;
    
    height: 100%;
    width: 100%;

    /* 
        for the label to stop being sticky
        sooner than it's container ends
     */
    padding-bottom: 78px;

    pointer-events: none;
}
.label {
    position: sticky;
    /* height of the toolbar + hero select container */
    top: 148px;
    z-index: 1;

    font-size: 32px;
    font-weight: 600;

    background-color: #181614;
}
.labelHeight {
    min-height: 44px;
}
.labelStuck {
    box-shadow: 4px 10px 10px 0px rgba(0, 0, 0, 0.2);
}

.content {
    min-height: 0;
    overflow-y: auto;
}

.empty {
    height: 88px;

    padding: 16px;

    border: 1px dashed #949692;
    border-radius: 2px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    vertical-align: middle;

    opacity: 0.8;
}

.mainList {
    overflow-y: auto;
    overflow-x: hidden;
}

.listItem {
    cursor: pointer;
    border-radius: 4px;
    padding: 4px 2px;

    display: flex;
    align-items: center;
    gap: 4px;

    border: 2px solid transparent;

    user-select: none;
}
.listItem:not(:last-child) {
    margin-bottom: 4px;
}
.listItem:hover {
    border: 2px solid #857243;
}
.listItem:hover.locked {
    border: 2px solid transparent;
}
.listItemDisableHover:hover {
    border: 2px solid transparent;
    cursor: unset;
    user-select: unset;
}

.locked {
    opacity: 0.8;
    filter: brightness(0.9) contrast(0.9);

    cursor: unset;
}

.header {
    margin-bottom: 4px;

    display: flex;
    align-items: center;
    gap: 24px;

/* dobavit Snackbar chto itemka iz lista uletela v takoito ili takoito spisok */

}

.name {
    font-family: ravenswatch;
    letter-spacing: 0.02rem;
    color: #9B9981;

    display: flex;
    align-items: center;
    gap: 6px;
}

.tags {
    
}

@media (min-width: 1080px) {
    .root {
        overflow-y: hidden;
    }
    .label {
        position: unset;
    }
}
