.root {
    position: relative;

    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.labelContainer {
    position: absolute;
    top: 0;
    
    height: 100%;
    width: 100%;

    /* 
        for the label to stop being sticky
        sooner than it's container ends
     */
    padding-bottom: 78px;

    pointer-events: none;
}
.label {
    position: sticky;
    /* height of the toolbar + hero select container on mobile */
    top: 154px;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    font-size: 32px;
    font-weight: 600;

    background-color: #181614;

    pointer-events: auto;
}
.labelLeft {

}
.labelMiddle {
    margin-left: 10px;
    margin-right: auto;
}
.clearButton {
    padding: 2px 4px;

    font-size: 15px;

    border: 1px solid gray;
    border-radius: 4px;

    cursor: pointer;

    transition: color 300ms ease;

    user-select: none;

    -webkit-tap-highlight-color: #686b6533;
}
.clearButtonDisabled {
    border: 1px solid #81808075;

    color: #686767;

    cursor: default;
}
@media (hover: hover) and (pointer: fine) {
    .clearButton:hover:not(.clearButtonDisabled) {
        color: #aeb3a9;
    }
}
.clearButton:active:not(.clearButtonDisabled) {
    color: #afb4a9;
    background-color: #686b6533;
}
.labelRight {

}
.labelHeight {
    min-height: 44px;
    max-height: 44px;
}
.labelStuck {
    box-shadow: 4px 10px 10px 0px rgba(0, 0, 0, 0.2);
}

.content {
    min-height: 0;
    overflow-y: auto;
}

.empty {
    height: 88px;

    padding: 16px;

    border: 1px dashed #949692;
    border-radius: 2px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    vertical-align: middle;

    opacity: 0.8;

    user-select: none;
}

.mainList {
    overflow-y: auto;
    overflow-x: hidden;
}

.listItem {
    cursor: pointer;
    border-radius: 4px;
    padding: 4px 2px;

    display: flex;
    align-items: center;
    gap: 4px;

    border: 2px solid transparent;

    user-select: none;
}
.listItem:not(:last-child) {
    margin-bottom: 4px;
}
.listItem:hover {
    border: 2px solid #857243;
}
.listItem:hover.locked {
    border: 2px solid transparent;
}
.listItemDisableHover:hover {
    border: 2px solid transparent;
    cursor: unset;
    user-select: unset;
}

.locked {
    opacity: 0.8;
    filter: brightness(0.9) contrast(0.9);

    cursor: unset;
}

.header {
    margin-bottom: 4px;

    display: flex;
    align-items: center;
    gap: 24px;

/* dobavit Snackbar chto itemka iz lista uletela v takoito ili takoito spisok */

}

.name {
    font-family: ravenswatch;
    letter-spacing: 0.02rem;
    color: #9B9981;

    display: flex;
    align-items: center;
    gap: 6px;
}

.tags {
    
}

.rankContainer {
    margin-left: auto;
    margin-right: 6px;
}
.rank {
    font-family: ravenswatch;
    font-size: 12px;
    opacity: 0.6;
}

.talentDescription {
    flex-grow: 1;
}

@media (min-width: 1080px) {
    .root {
        overflow-y: hidden;
    }
    .label {
        position: unset;
    }
}
