.root {
    height: 100%;

    display: flex;
    flex-direction: column;

    overflow-y: hidden;
}

.label {
    margin-left: 4px;
    margin-bottom: 12px;

    font-size: 32px;
    font-weight: 600;
}

.empty {
    height: 88px;

    padding: 16px;

    border: 1px dashed #949692;
    border-radius: 2px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    vertical-align: middle;

    opacity: 0.8;
}

.mainList {
    overflow-y: auto;
}

.listItem {
    cursor: pointer;
    border-radius: 4px;
    padding: 2px;

    display: flex;
    align-items: center;
    gap: 4px;

    border: 2px solid transparent;
}
.listItem:not(:last-child) {
    margin-bottom: 10px;
}
.listItem:hover {
    border: 2px solid #857243;
}
.listItem:hover.locked {
    border: 2px solid transparent;
}

.locked {
    opacity: 0.8;
    filter: brightness(0.9) contrast(0.9);

    cursor: unset;
}

.header {
    margin-bottom: 4px;

    display: flex;
    align-items: center;
    gap: 16px;
}

.name {
    font-family: ravenswatch;
    color: #9B9981;
}

.tags {
    
}
