.listRoot {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.labelContainer {
    position: absolute;
    top: 0;
    
    height: 100%;
    width: 100%;

    /* 
        for the label to stop being sticky
        sooner than it's container ends
     */
    padding-bottom: 78px;

    pointer-events: none;
}
.label {
    position: sticky;
    top: 0;
    z-index: 1;

    font-size: 32px;
    font-weight: 600;

    background-color: #181614;
}
.labelHeight {
    min-height: 44px;
}
.labelStuck {
    box-shadow: 4px 10px 10px 0px rgba(0, 0, 0, 0.2);
}

.content {
    min-height: 0;
    overflow-y: auto;
}

.empty {
    height: 94px;

    padding: 16px;

    border: 1px dashed #949692;
    border-radius: 2px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    vertical-align: middle;

    opacity: 0.8;
}

.list {
    overflow-y: auto;
}

.listItem {
    border: 2px solid transparent;
    border-radius: 4px;

    cursor: pointer;
}
.listItem:hover {
    border: 2px solid #857243;
}
.listItem:not(:last-child) {
    margin-bottom: 2px;
}
