.tooltip {
    position: relative;
    cursor: help;

    display: flex;
}

.tooltipHidden {
    position: unset;
    cursor: unset;
}

.tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 48%;
    left: 50%;
    transform: translateX(-50%);

    margin-bottom: 8px;

    padding: 2px 8px;

    background: #222;
    border-radius: 4px;

    font-family: fontin-sans-regular;
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap;
    color: #ebddcad9;

    opacity: 0;
    transition: opacity 0.20s ease;

    pointer-events: none;
}
.tooltipLower::after {
    bottom: 17%;
    left: -93%;
}
.tooltipLeft::after {
    top: 20%;
    left: 12%;
    bottom: unset;
    transform: translate(-100%, -100%);
}

.tooltip:hover::after {
    opacity: 0.9;
}
