.tooltip {
    position: relative;
    cursor: help;

    display: flex;
}

.tooltipHidden {
    position: unset;
    cursor: unset;
}

.tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);

    margin-bottom: 8px;

    padding: 6px 8px;

    background: #222;
    border-radius: 4px;

    font-family: fontin-sans-regular;
    color: #ebddcad9;
    font-size: 12px;
    white-space: nowrap;

    opacity: 0;
    transition: opacity 0.20s ease;
}

.tooltip:hover::after {
    opacity: 1;
}
