.heroSelectItemRoot {
    padding: 4px 4px;
    padding-right: 15px;

    display: flex;
    align-items: center;
    gap: 6px;

    cursor: pointer;

    background-size: cover;
    background-color: #514c3d;
    background-blend-mode: multiply;
}
.heroSelectItemRoot:hover {
    color: #afbca1; 
    background-blend-mode: unset;
}
.itemImageContainer {
    position: relative;
    height: 64px;
    width: 64px;
    min-width: 64px;

    overflow: hidden;
}
.itemImage {
    position: absolute;
    height: 64px;
    width: 64px;
}
.itemTextContainer {
    flex-grow: 1;

    margin-top: 3px;

    position: relative;

    font-family: ravenswatch;
    text-transform: uppercase;
    text-align: center;
    
    text-shadow: 
        -1px -1px 2px black, 
        -1px 1px 2px black, 
        1px -1px 2px black, 
        1px 1px 2px black;
}
.itemText {
    font-size: 17px;
}
.heroSelectItemRoot:hover .itemText {
    font-size: 18px;
}

.scarlet {
    left: 0px;
    bottom: 2px;
}
.piper {
    left: -5px;
    bottom: 0px;
}
.beowulf {
    left: 0px;
    bottom: 0px;
}
.snowQueen {
    left: -2px;
    bottom: 0px;
}
.aladdin {
    left: 4px;
    bottom: 0px;
}
.melusine {
    left: 0px;
    bottom: 0px;
}
.geppetto {
    left: 3px;
    bottom: 0px;
}
.wukong {
    left: 5px;
    bottom: 0px;
    width: 61px;
    height: auto;
}
.carmilla {
    left: 5px;
    bottom: 0px
}
.romeo {
    left: 3px;
    bottom: -1px
}
.juliet {
    left: 2px;
    bottom: 0px
}
