.root {
    width: 180px;

    position: relative;

    -webkit-tap-highlight-color: transparent;
}

.input {
    width: 100%;

    padding: 2px;
    padding-right: 4px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;

    font-family: ravenswatch;
    text-transform: uppercase;
    text-align: center;

    border-radius: 4px;

    cursor: pointer;

    border: 1px solid transparent;
}
.inputActive, .input:active {
    background-size: cover;
    background-color: #88650e;
    background-blend-mode: multiply;

    border: 1px solid #52493381;

    color: #afbca1; 
    text-shadow: 
        -1px -1px 2px black, 
        -1px 1px 2px black, 
        1px -1px 2px black, 
        1px 1px 2px black;
}
@media (hover: hover) and (pointer: fine) {
    .input:hover {
        background-size: cover;
        background-color: #88650e;
        background-blend-mode: multiply;

        border: 1px solid #52493381;

        color: #afbca1; 
        text-shadow: 
            -1px -1px 2px black, 
            -1px 1px 2px black, 
            1px -1px 2px black, 
            1px 1px 2px black;
    }
}
.inputImageContainer {
    position: relative;
    min-height: 80px;
    min-width: 80px;
}
.inputImage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
}
.inputImageSmall {
    height: 55px;
    width: 55px;
}
.inputText {
    max-width: 72px;
    margin-bottom: -2px;
}
.inputArrow {
    transform: rotate(90deg);
    padding-top: 4px;
    min-width: 18px;
}

/* .scarlet {
} */
.piperInputImg {
    top: 4px;
}
.piperInputText {
    margin-bottom: -4px;
}
/* .beowulf {
} */
.snowQueenInputText {
    margin-bottom: -5px;
}
.snowQueenInputImgContainer {
    margin-left: -4px;
}
/* .snowQueenInputImg {
}
.aladdin {
}
.melusine {
}
.geppetto {
}
.wukong {
}
.carmilla {
}
.romeo {
} */
.julietInputImg {
    top: 2px;
}

.items {
    position: absolute;
    top: 100%;
    z-index: 1;

    width: 100%;
    height: calc(100vh - 280px);
    max-height: fit-content;
    min-height: 80px;

    overflow-y: auto;
    overflow-x: hidden;

    margin-top: 4px;

    border-radius: 4px;
    border: 1px solid #52493381;
}

/* 
    TODO consider an absolute positioned element (img probably)
    stretched to look as if it's the background
    with the hero code in js taken from a variable
    instead of this

    think about other approaches to solving this
    e.g. try the "style" attribute in js again
*/
/* TODO consider using filter instead of blend mode and background color */
:global(.scarletBgArt).inputActive, :global(.scarletBgArt).input:active {
    background-image: url("/art/scarlet.jpg");
}
:global(.piperBgArt).inputActive, :global(.piperBgArt).input:active {
    background-image: url("/art/piper.jpg");
}
:global(.beowulfBgArt).inputActive, :global(.beowulfBgArt).input:active {
    background-image: url("/art/beowulf.jpg");
}
:global(.snowQueenBgArt).inputActive, :global(.snowQueenBgArt).input:active {
    background-image: url("/art/snowQueen.jpg");
}
:global(.aladdinBgArt).inputActive, :global(.aladdinBgArt).input:active {
    background-image: url("/art/aladdin.jpg");
}
:global(.melusineBgArt).inputActive, :global(.melusineBgArt).input:active {
    background-image: url("/art/melusine.jpg");
}
:global(.geppettoBgArt).inputActive, :global(.geppettoBgArt).input:active {
    background-image: url("/art/geppetto.jpg");
}
:global(.wukongBgArt).inputActive, :global(.wukongBgArt).input:active {
    background-image: url("/art/wukong.jpg");
}
:global(.carmillaBgArt).inputActive, :global(.carmillaBgArt).input:active {
    background-image: url("/art/carmilla.jpg");
}
:global(.romeoBgArt).inputActive, :global(.romeoBgArt).input:active {
    background-image: url("/art/romeo.jpg");
}
:global(.julietBgArt).inputActive, :global(.julietBgArt).input:active {
    background-image: url("/art/juliet.jpg");
}
:global(.merlinBgArt).inputActive, :global(.merlinBgArt).input:active {
    background-image: url("/art/merlin.jpg");
}

@media (hover: hover) and (pointer: fine) {
    :global(.scarletBgArt):hover {
        background-image: url("/art/scarlet.jpg");
    }
    :global(.piperBgArt):hover {
        background-image: url("/art/piper.jpg");
    }
    :global(.beowulfBgArt):hover {
        background-image: url("/art/beowulf.jpg");
    }
    :global(.snowQueenBgArt):hover {
        background-image: url("/art/snowQueen.jpg");
    }
    :global(.aladdinBgArt):hover {
        background-image: url("/art/aladdin.jpg");
    }
    :global(.melusineBgArt):hover {
        background-image: url("/art/melusine.jpg");
    }
    :global(.geppettoBgArt):hover {
        background-image: url("/art/geppetto.jpg");
    }
    :global(.wukongBgArt):hover {
        background-image: url("/art/wukong.jpg");
    }
    :global(.carmillaBgArt):hover {
        background-image: url("/art/carmilla.jpg");
    }
    :global(.romeoBgArt):hover {
        background-image: url("/art/romeo.jpg");
    }
    :global(.julietBgArt):hover {
        background-image: url("/art/juliet.jpg");
    }
    :global(.merlinBgArt):hover {
        background-image: url("/art/merlin.jpg");
    }
}
