.imgContainer {
    position: relative;

    width: 90px;
    height: 90px;

    opacity: 0.9;
    filter: brightness(0.9) contrast(0.9);
}

.object {
    position: absolute;
    top: 12.5%;
    left: 12.5%;

    width: 75%;
    height: auto;
}

.frame {
    position: absolute;
    width: 100%;
    height: auto;
}

.textContainer {
    width: 50%;
}
