.logoRoot {
    margin-left: -4px;

    display: flex;
    align-items: center;

    text-decoration: none;
}

.logoSmall {
    height: 46px;
    width: auto;

    margin-left: 4px;
    margin-top: -1px;
}

.logoBig {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 880px) {
    .logoBig {
        display: none;
    }
}

@media (min-width: 880px) {
    .logoSmall {
        display: none;
    }
}

.logoImg {
    height: 46px;
    width: auto;

    margin-top: -1px;
}

.logoText {
    margin-top: -14px;
    margin-left: 12px;
    
    font-family: ravenswatch;
    font-size: 12px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #EDE2B9;
}
