.logoRoot {
    margin-left: -4px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoImg {
    height: 46px;
    width: auto;

    margin-top: -1px;
}

.logoText {
    margin-top: -14px;
    margin-left: 12px;
    
    font-family: ravenswatch;
    font-size: 12px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #EDE2B9;
}
