.talentsViewSwitchRoot {
    padding: 0 2px;

    display: flex;
    align-items: center;
    gap: 6px;
    
    font-family: ravenswatch;
    text-transform: uppercase;

    cursor: pointer;
    user-select: none;

    -webkit-tap-highlight-color: transparent;
}

.options {
    padding: 4px 4px;

    display: flex;
    align-items: center;
    gap: 4px;
    
    background-color: #34302c;

    border-radius: 4px;
}

.option {
    padding: 6px 4px;
}

.optionSelected {
    background-color: #22201d;
    border-radius: 4px;
}

@media (max-width: 1080px) {
    .options {
        /* fix height for mobile layout */
        min-height: 33px;
        max-height: 33px;

        padding: 3px 3px;
    }
    .option {
        padding: 3px 4px;
    }
}
