.toolbarRoot {
    position: sticky;
    top: 0;
    z-index: 2;

    min-height: 56px;

    margin-bottom: 8px;

    padding: 4px 6px;

    display: flex;
    align-items: center;
    gap: 20px;

    border-bottom: 1px solid #362D22;

    background-color: #424944;
}

@media (max-width: 1080px) {
    .toolbarRoot {
        gap: 8px;
    }
}

.help {
    margin-left: auto;
    margin-right: 8px;
}
