.root {
    min-height: 56px;

    margin-bottom: 8px;

    padding: 4px 6px;

    display: flex;
    align-items: center;
    gap: 20px;

    border-bottom: 1px solid #362D22;

    background-color: #424944;
}

.navigation {
    padding: 2px 2px;

    display: flex;
    align-items: center;
    gap: 16px;

    font-family: ravenswatch;
}

.navigationItem {
    cursor: pointer;
    
    color: inherit;
    text-decoration: none;
}

.navigationItem:hover {
    color: #964e4e;
}

.navigationItemActive {
    color: #a85a5a;
}
