.toolbar {
    margin-bottom: 8px;

    border-bottom: 1px solid #362D22;

    background-color: #424944;
}

.logo_container {
    width: 160px;

    padding: 0 6px 6px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_img {
    width: 180px;
    height: auto;
}

.logo_text {
    margin-top: -18px;
    margin-left: 12px;
    
    font-family: ravenswatch;
    font-size: 12px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #EDE2B9;
}
