.root {
    margin-bottom: 8px;

    display: flex;
    align-items: center;

    border-bottom: 1px solid #362D22;

    background-color: #424944;
}

.logoContainer {
    width: 160px;

    padding: 0 6px 6px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoImg {
    width: 180px;
    height: auto;
}

.logoText {
    margin-top: -18px;
    margin-left: 12px;
    
    font-family: ravenswatch;
    font-size: 12px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #EDE2B9;
}


.navigation {
    margin-left: 20px;

    display: flex;
    align-items: center;
    gap: 16px;
}

.navigationItem {
    cursor: pointer;
    
    color: inherit;
    text-decoration: none;
}

.navigationItem:hover {
    color: #8b4040;
}

.navigationItemActive {
    color: brown;
}
