.descriptionListItem {
    margin-bottom: 2px;
}
.descriptionListItem::before {
    content: '•';
    margin-left: 1px;
    margin-right: 3px;
    padding-bottom: 1px;
}

.sk {
    color: #A19A7A;
}
.si {
    color: #4c824e;
}
.sd {
    color: #9b4944;
}
.so {
    color: #508590;
}

.tooltip {
    display: inline;
}
.tooltip::after {
    font-size: 16px;
}
