.root {
    flex-grow: 1;
    min-height: 0;

    padding: 24px 16px 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
}

.list {
    height: 100%;

    overflow-y: hidden;
}

@media (max-width: 1080px) {
    .root {
        flex-grow: unset;
        min-height: unset;

        grid-template-columns: unset;
        grid-template-rows: auto;
        row-gap: 22px;
    }
}
