.controls {
    position: sticky;
    top: -1px;
    z-index: 1;

    background-color: inherit;

    margin-bottom: 16px;
    
    padding: 0 8px;

    display: flex;
    justify-content: center;
    gap: 16px;

    /* needed for the sticky styling trick to work */
    padding-top: 56px;
    margin-top: -56px;
}
.controlsStuck {
    padding-top: 59px;
    padding-bottom: 2px;
    box-shadow: 1px 20px 20px 0px rgba(0, 0, 0, 0.3);
}

.talentLists {
    flex-grow: 1;
    min-height: 0;

    padding: 0 16px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
}

@media (max-width: 1080px) {
    .talentLists {
        flex-grow: unset;
        min-height: unset;
        grid-template-columns: unset;
        grid-template-rows: auto;
        row-gap: 22px;
    }
}
