.talentListItemRoot {

}

.locked {
    opacity: 0.8;
    filter: brightness(0.9) contrast(0.9);
}

.talentTags {
    margin-left: 10px;
}

.talentRank {
    margin-left: auto;
    margin-right: 6px;
}
